{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
Item Management
{% endblock %}


{% block content %}
    
    <a href="/item/add">Add new Item</a>
    <br>
    <table>
        <tr>
            <th>ID #</th>
            <th>name</th>
            <th>Price</th>
            <th>department</th>
            <th>Actions</th>
        </tr>
    {% for item in all_items %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td> 
        <td><a href="{% url 'item_list' %}?department={{ item.department.id }}">{{ item.department.title }}</a></td>
        <td>
            <a href="/item/{{ item.id}}">Read</a>
            <a href="{% url 'item_delete'  item.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}

