<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}   {% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    {% block styles %}

    {% endblock %}

</head>
<body>

    <h2>Item Management</h2>

    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="">blog</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">About</a></li>
    </ul>
    <br>

    {% block content %}

    {% endblock %}

    <div class="footer">
        <p>Created by ITI</p>
    </div>
    
    {% block scripts %}

    {% endblock %}
</body>
</html>